@use "@/styles/mixins.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;

.header {
  position: fixed;
  inset-block: 0;
  inset-inline-start: 0;
  width: var(--header-width);
  box-shadow: var(--shadow-base);

  &.MuiStack-root {
    @include mixins.media(breakpoints.$mobile_breakpoint_max, max) {
      display: none;
    }
  }
}
