@use "@/styles/mixins.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;

.navigation {
  --badge-color: var(--color-light);
  --badge-bg-color: var(--color-accent);

  &__item {
    &.MuiListItem-root {
      padding: 0;
      margin-block-end: 4px;
    }
  }

  &__link {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;

    &.active {
      --badge-color: var(--color-accent);
      --badge-bg-color: var(--color-light);

      color: var(--color-light);
      background-color: var(--color-accent);
    }
  }

  &__badge {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
    overflow: hidden;
    color: var(--badge-color);
    background-color: var(--badge-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
